
@font-face
{
	fontFamily: "Myriad Pro Cond";
	src: url("C:\Windows\Fonts\MyriadPro-Cond.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro Cond";
	fontWeight: bold;
	src: url("C:\Windows\Fonts\MyriadPro-BoldCond.otf");
	embedAsCFF: true;
}



















