<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBFinancialWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBFinancialWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBTopsyWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBTopsyWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PythonScriptsWebService</servlet-name>
        <servlet-class>com.webservices.PythonScriptsWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBPythonScriptsWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBPythonScriptsWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBMachineLearningWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBMachineLearningWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DataAnalysisWebServices</servlet-name>
        <servlet-class>com.webservices.DataAnalysisWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PythonScriptsWebServices</servlet-name>
        <servlet-class>com.webservices.PythonScriptsWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBTwitterWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBTwitterWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBPredictionWebServices</servlet-name>
        <servlet-class>com.data.webservices.DBPredictionWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBFinancialWebServices</servlet-name>
        <url-pattern>/DBFinancialWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTopsyWebServices</servlet-name>
        <url-pattern>/DBTopsyWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PythonScriptsWebService</servlet-name>
        <url-pattern>/PythonScriptsWebService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBPythonScriptsWebServices</servlet-name>
        <url-pattern>/DBPythonScriptsWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBMachineLearningWebServices</servlet-name>
        <url-pattern>/DBMachineLearningWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataAnalysisWebServices</servlet-name>
        <url-pattern>/DataAnalysisWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PythonScriptsWebServices</servlet-name>
        <url-pattern>/PythonScriptsWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTwitterWebServices</servlet-name>
        <url-pattern>/DBTwitterWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBPredictionWebServices</servlet-name>
        <url-pattern>/DBPredictionWebServices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
